.headerbar {background-image: none; border-radius: 7px 7px 0 0; margin-bottom: 0;}

#site-description h1, #site-description p:not(.skiplink) {display: none;}
/* This {display: none;} could be better achieved with two deletions in ./template/overall_header.html */

.logo, .site_logo {width: 400px; height: 58px;}
.logo {padding: 10px;}
.site_logo {
  background-image: url(https://raw.githubusercontent.com/SebastJava/prosilver-lm/master/theme/images/site_logo.svg);}

.navbar {background-image: none; border-radius: 0 0 7px 7px;}
